h1 p {
	font-family: "Verdana" sans-serif;
}

/* Encadrer onglet du menu actif*/

.active {
  background-color: #C2C5C6;
	padding: 8px;
}

/* Menu de navigation */ 

ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav {
	overflow: hidden;
  background-color: #818586;
}

nav ul {
	display: flex;
	justify-content: center;
}

/* listes */
li {
	list-style-type: none;
	padding-right: 12px;
}
 /* liens */
a {
	font-size: 17px;
	text-decoration: none;
	color: white;
}

li a:hover {
  background-color: #E65F49;
}
h1 {
	text-align: center;
}

p {
	text-align: center;
}

#pictures {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

figure img {
	width: 420px;
	height: 280px;
}